{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Log</title>
    <link rel="stylesheet" href="{% static 'chart/style.css' %}">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'chart/utils.js' %}"></script>
    <script src="{% static 'chart/chart.js' %}"></script>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
