@media only screen and (max-width: 600px) {
    #chart {
      width: 500px;
    }

    #filter {
        width: 500px;
    }
}

#chart {
    width: 100vw;
    height: 400px;
}

#filter {
    width: 100vw;
    height: 50px;
}